.cart__product {
  &:first-of-type {
    border-top: 1px solid #e5e5e5;
  }
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e5e5e5;
  padding: 1.5rem 0;

  &__right {
    display: flex;
  }

  &__heading {
    font-size: 1.9rem;
    margin-bottom: 1rem;
  }

  &__title {
    font-size: 1.9rem;
    font-weight: normal;
    margin-bottom: 1rem;
  }
  &__price {
    margin-bottom: 1rem;
    font-size: 1.9rem;
    font-weight: bold;
  }
  &__sizes {
    margin-bottom: 1rem;
  }
  &__btns {
    margin-right: 0.5rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    button {
      width: 3rem;
      height: 3rem;
      background-color: #fff;
      border: 1px solid #000;
      cursor: pointer;
      font-size: 1.5rem;
    }
  }

  &__image {
    position: relative;
    img {
      object-fit: contain;
      height: 100%;
      width: 200px;
    }
  }

  &__arrows {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    display: flex;
    justify-content: space-between;
    gap: 8px;
  }
  &__arrow {
    width: 24px;
    height: 24px;
    border: none;
    background-color: rgba(0, 0, 0, 0.73);
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 5.62px;
      height: 11.24px;
    }
  }
}
