.navbar {
  padding-top: 2rem;
  display: flex;
  width: 90%;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  &__navs {
    display: flex;
    list-style-type: none;
  }

  &__nav {
    margin-right: 1rem;
    button {
      cursor: pointer;
      background-color: #fff;
      border: none;
      color: #000;
    }
    &::after {
      content: " ";
      width: 100%;
      display: none;
      height: 2px;
      background-color: var(--active-color);
      margin-top: 0.5rem;
    }
    &Active {
      button {
        color: var(--active-color);
      }
      &::after {
        display: block;
      }
    }
  }

  &__logo {
    background-color: none;
    border: none;
  }

  &__options {
    display: flex;
    &__dropdowntoggler {
      border: none;
      background-color: #fff;
      margin-right: 1.5rem;
      font-size: 1.5rem;
      cursor: pointer;
    }
  }

  &__currency {
    position: relative;

    span {
      font-size: 1rem;
      margin-left: 0.25rem;
    }

    &__dropdown {
      position: absolute;
      display: none;
      bottom: -129px;
      left: -27px;
      -webkit-box-shadow: -1px 4px 37px -13px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: -1px 4px 37px -13px rgba(0, 0, 0, 0.75);
      box-shadow: -1px 4px 37px -13px rgba(0, 0, 0, 0.75);
      &__list {
        list-style-type: none;
      }
      &__option {
        padding: 0.75rem 1.25rem;
        button {
          cursor: pointer;
          border: none;
          background-color: transparent;
          display: flex;
          span {
            margin-left: 0.5rem;
          }
        }
        &:hover {
          background-color: #eee;
        }
      }

      &Opened {
        display: block;
      }
    }
  }

  &__cart {
    button {
      cursor: pointer;
      font-size: 1.5rem;
      background-color: #fff;
      background-color: none;
      border: none;
    }
  }
}
