.currency {
  position: relative;

  &__symbol {
    width: 12px;
    height: 29px;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
  }
  &__arrow {
    img {
      margin-bottom: 4px;
      margin-left: 0.4rem;
    }
    &Up {
      transform: rotate(180deg);
    }
  }
  &__dropdowntoggler {
    border: none;
    background-color: #fff;
    margin-right: 1.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  span {
    margin-left: 0.25rem;
  }

  &__dropdown {
    position: absolute;
    display: none;
    z-index: 11;
    background-color: #fff;
    left: -27px;
    -webkit-box-shadow: -1px 4px 37px -13px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 4px 37px -13px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 4px 37px -13px rgba(0, 0, 0, 0.75);
    &__list {
      list-style-type: none;
    }
    &__option {
      padding: 0.75rem 1.25rem;
      button {
        cursor: pointer;
        border: none;
        background-color: transparent;
        display: flex;
        span {
          margin-left: 0.5rem;
        }
      }
      &:hover {
        background-color: #eee;
      }
      &Active {
        background-color: #eee;
      }
    }

    &Opened {
      display: block;
    }
  }
}
